@{
    ViewBag.Title = "Success";
}

<h2>Değerleriniz gönderildi ve gerekli hesaplamalar yapıldı</h2>

<p>
    Değerleri görmek için Database'i kontrol edebilirsiniz.
</p>
<div class="form-group">
    <p>
        <a href="@Url.Action("MyView", "Home")">Hesaplama ekranına dön! </a>
    </p>
</div>
