@{
    ViewBag.Title = "Kayıt Başarılı";
}

<h2>Kayıt işlemi başarıyla gerçekleşti. Aşağıdaki linkten giriş yapabilirsiniz.</h2>

<p>
    Hesabınızı onaylamak için lütfen e-mail adresinizi kontrol ediniz.
</p>

<p>
    @Html.ActionLink("Doğrulama sonrası giriş yapmak için buraya tıklayınız.", "Login", "Account")
</p>
